/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.4rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.3rem;
}

h4,
h5 {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.hidden {
  display: none;
}

button {
  background-color: #6c63ff;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 2rem;
  border: 0px;
  cursor: pointer;
}

main.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.login-page .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-page .intro-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.login-page .intro-login-wrapper {
  padding: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
  position: relative;
}

.login-page .login-header {
  padding: 2rem 0 0 2rem;
}

.login-page form {
  padding: 2rem 0 0 2rem;
}

.login-page .form-username {
  margin-bottom: 1rem;
}

.login-page form input {
  padding: 1rem 2rem;
  width: 90%;
}

.login-page form p {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
  max-width: 90%;
  color: #d4536c;
}

.login-page form button {
  margin-top: 2rem;
}

.login-page .signup {
  padding: 5rem 0 0 2rem;
}

.login-page .signup a {
  color: #6c63ff;
  font-weight: 500;
}

.intro-dbdump-link {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #6c63ff;
}

.disclaimer {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 1rem;
}

/* phone mode */
@media screen and (max-width: 620px) {
  .login-page .intro {
    max-width: 97%;
  }
  .login-page .intro-login-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

main.register-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.register-page .main-content {
  max-width: 600px;
  background-color: #ececec;
  padding: 2rem 5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.register-page .form-header {
  padding: 2rem 0 0 0;
}

.register-page form {
  padding: 2rem 0 0 0;
}

.register-page .form-username {
  margin-bottom: 1rem;
}

.register-page form input {
  padding: 1rem 2rem;
  width: 100%;
}

.register-page form p {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
  max-width: 90%;
  color: #d4536c;
}

.register-page form button {
  margin-top: 2rem;
}

.register-page .back-link {
  color: #6c63ff;
  margin-left: 1rem;
  font-size: 1.3rem;
}

main.register-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.register-success .main-content {
  max-width: 1200px;
  background-color: #ececec;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-success .form-header {
  padding: 2rem 0 0 0;
}

.register-page form button {
  margin-top: 2rem;
}

.inbox-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 3rem 2rem;
  background-color: #ececec;
}

.inbox-head .welcome {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inbox-head .logout-link {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inbox-head a {
  color: #6c63ff;
  font-size: 1.2rem;
}

.send-message form {
  padding: 2rem 0 0 2rem;
}

.send-message .form-username {
  margin-bottom: 1rem;
}

.send-message form input {
  padding: 1rem 2rem;
  max-width: 40rem;
}

.send-message form textarea {
  padding: 1rem 2rem;
  min-width: 60%;
}

.send-message form p {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
  max-width: 40rem;
  color: #d4536c;
}

.send-message form button {
  margin-top: 1rem;
}

.send-message .signup a {
  color: #6c63ff;
  font-weight: 500;
}

.message-list {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.message-list .refresh-link {
  font-size: 1.2rem;
  color: #6c63ff;
}

.message-outter-wrapper {
  padding-top: 1rem;
  padding-right: 2rem;
}

.message-wrapper {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
}

.message-wrapper.messsage-sent {
  background-color: #ececec;
}

.message-wrapper.messsage-received {
  background-color: #6c63ff;
  color: white;
}

.message-wrapper .message-title {
  font-size: 1rem;
  font-weight: 600;
}

.message-wrapper .message-text {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.dbdump {
  padding: 2rem;
}

.dbdump p {
  padding-bottom: 1rem;
}

.dbdump a {
  color: #6c63ff;
  display: block;
  padding-bottom: 0.2rem;
}

.dbdump .dbdump-back-link {
  font-size: 1rem;
  padding-top: 2rem;
}
/*# sourceMappingURL=style.css.map */